<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<h2>Here are some links to help you start: </h2 -->

<div class="main-container" *ngFor="let item of obj">
  <!-- <li *ngFor="let item of obj">{{item}}ITEM Found!</li> -->
  <div class="container">
    <h2>Panel Heading {{ title }}!</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Panel Heading</div>
      <div class="panel-body">Panel Content</div>
    </div>
  </div>
</div>


